* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, rgba(253,29,29,1) 0%, rgba(131,58,180,1) 100%, rgba(252,176,69,1) 100%);
  font-family: 'Lato', sans-serif;
  position: relative;
}

h1, p, li, button {
  text-align: center;
  color: #f9f9f9;
}

h1 {
  margin-top: 2em;
  margin-bottom: .5em;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 8em 0em ;
  margin: 4em 4em 0;
  border-radius: .5em;
  background: #000;
  box-shadow: 2px 2px 4px rgba(0,0,0, .9),
              -2px -2px 4px rgba(0,0,0, .9);

}

input {
  padding: 1.25em;
  border-radius: .25em;
  border: 1px solid #FFF;
  width: 85%;
  margin-bottom: 1.5em;
}

input::placeholder {
  font-size: 1.25em;
  text-align: center;
}

button {
  padding: 1em 1.75em;
  background: linear-gradient(90deg, rgba(253,29,29,1) 0%, rgba(131,58,180,1) 100%, rgba(252,176,69,1) 100%);
  border: 1px solid #000;
  font-weight: bold;
  font-size: 1em;
  border-radius: .5em;

  cursor: pointer;
  opacity: 1;
}

li a:hover,
button:hover {
  opacity: .75;
  transition: all .5s;
}

/* Lista de Todos */

li {
  margin-bottom: 1em;
  font-size: 1.25em;
  font-weight: bold;
  list-style: none;
}

li a {
  text-decoration: none;
  margin-left: 0.5em;
  background:  rgba(253,29,29,1);
  color: #FFF;
  padding: .25em;
  border-radius: 0.25em;
  margin-bottom: 1em;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 2em;
  background: transparent;
}

footer p {
  text-align: center;
  font-size: 1.5em;
}

/* Responsividade */

@media (max-width: 425px) {
  h1 {
    margin-top: 1em;
    margin-bottom: .5em;
  }
  
  #app {
    margin: 2em 2em 0;
    padding: 4em 0em;
    margin-bottom: 1em;
  }

  li {
    font-size: 1em;
  }

  footer p {
    font-size: 1em;
  }
}

@media (min-width: 1024px) {
  #app {
    margin: 4em 12em 0;
  }
}